main{
    background: #4caf50;
    margin: 0;
    padding: 30px 100px;
}
h3 {
    margin-top: 40px;
}
h2{
    margin-bottom: 20px;
}
.but button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #063f08;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #1a271b;
}